@{
    ViewBag.Title = "Login Failure";
}
<br /><br />
<div class="confirmation col-centered col-md-5">
    <h4 class="weight">@ViewBag.Title.</h4>
    <p>
        Unsuccessful login with service.
    </p>
</div>

