@{
    ViewBag.Title = "Reset password confirmation";
}
<br /><br />
<div class="confirmation col-centered col-md-5">
    <h4 class="weight">@ViewBag.Title.</h4>
    <p>
        Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>

